.footer {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: auto max-content;
    opacity: .6;
    white-space: nowrap;
}

.footer :is(span, a) {
    color: var(--on-card-text);
    text-decoration: none;
    padding: 1rem 0;
}