@keyframes hover {
    0% { offset-distance: 0%;}
    50% { offset-distance: 100%;}
    0% { offset-distance: 0%;}

}
.mv {
    offset-path: path('m 0 0 l 0 100 m 0 0 z ');
    offset-rotate: 0deg;

}
.one {
    animation: hover 3s ease infinite;
}
.two {
    animation: hover 7s ease infinite 250ms;
}
.three {
    offset-path: path('m 0 0 l 0 -100 m 0 0 z ');
    animation: hover 8s linear infinite 50ms;
}